.cardArea {
	flex: 1;
	min-width: 94px;
	max-width: 150px;
	padding: 10px;
	aspect-ratio: 9 / 18;

	flex-grow: 1;
	flex-shrink: 1;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;

	.card {
		width: 100%;
		.cardContent {
			height: 100%;
			width: 100%;

			display: flex;
			flex-direction: column;

			.ended {
				border-color: transparent #f05050 transparent transparent;
				position: absolute;
				z-index: 1;
				border-width: 0 25px 25px 0;
				border-style: solid;
			}

			.img {
				cursor: pointer;
			}
			.footer {
				display: flex;
				flex-direction: column;
				.progressBar {
					transition: width 200ms ease;
					height: 5px;
					display: flex;
					flex-direction: row;
					background-color: rgb(91, 91, 91);

					.progress {
						background-color: rgb(39, 194, 76);
					}
				}
				.status {
					background-color: white;
					color: #515253;
					font-family: "Roboto", "open sans", "Helvetica Neue", "Helvetica",
						"Arial", sans-serif;
					display: flex;
					align-items: flex-end;
					justify-content: center;
					height: 18px;
					font-size: 12px;
				}
				.profile {
					background-color: white;

					color: #515253;
					font-family: "Roboto", "open sans", "Helvetica Neue", "Helvetica",
						"Arial", sans-serif;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 18px;
					font-size: 12px;
				}
				height: 20%;
			}
		}
	}
	.card:hover {
		transition: box-shadow 0.3s;
		-webkit-box-shadow: 0 0 10px black;
		box-shadow: 0 0 10px black;
	}
}
