.cardArea {
	display: flex;
	padding: 15px;
	.card {
		display: flex;
		.cardContent {
			position: relative;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;

			.img {
				cursor: pointer;
			}

			.footer {
				display: flex;
				flex-direction: column;

				.progressBar {
					position: relative;
					transition: width 200ms ease;
					display: flex;
					flex-direction: row;
					background-color: var(--progressBarBackgroundColor);
					color: var(--textColor);
					font-size: 12px;
					.detailText {
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						width: 100%;
						height: 100%;
					}
				}

				.name,
				.status,
				.profile {
					background-color: var(--cardBackgroundColor);
					color: var(--textColor);
					display: flex;
					align-items: center;
					justify-content: center;
					height: 18px;
					font-size: 12px;
				}

				height: 20%;
			}
		}

		&:hover {
			transition: box-shadow 0.3s;
			-webkit-box-shadow: 0 0 10px var(--cardShadowColor);
			box-shadow: 0 0 10px var(--cardShadowColor);
		}
	}
}

.poster {
	text-decoration: none;
}
