.postersView {
	background-color: var(--pageBackground);
	display: flex;
	flex-direction: column;
	.content {
		margin: 5px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-color: var(--pageBackground);
	}
}
