body {
	background-color: #f5f7fa;
	color: #656565;
	font-family: "Roboto", "open sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}

.center {
	display: flex;
	justify-content: center;
}

.content {
	flex: 0 0 325px;
}

.logo {
	width: 32px;
	height: 32px;
}

.panel {
	margin-top: 50px;
	border-radius: 4px;
}

.panel-header {
	display: flex;
	justify-content: center;
	padding: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #3a3f51;
}

.panel-body {
	padding: 20px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #fff;
}

.sign-in {
	padding: 10px 0;
	text-align: center;
}

.form-group {
	margin: 20px 0;
}

.form-input {
	box-sizing: border-box;
	padding: 6px 16px;
	width: 100%;
	height: 35px;
	border: 1px solid #dde6e9;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-input:focus {
	outline: 0;
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6);
}

.button {
	overflow: hidden;
	margin-top: 20px;
	padding: 10px 0;
	width: 100%;
	border: 1px solid;
	border-color: #5899eb;
	border-radius: 4px;
	background-color: #5d9cec;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	line-height: normal;
}

.button:hover {
	border-color: #3483e7;
	background-color: #4b91ea;
	color: #fff;
	text-decoration: none;
}

.copy {
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
}

.remember-me-container {
	display: flex;
	justify-content: space-between;
	line-height: 25px;
}

.remember-me {
	font-size: 14px;
}

.forgot-password {
	margin-left: auto;
	color: #909fa7;
	text-decoration: none;
	font-size: 13px;
}

.forgot-password:focus,
.forgot-password:hover {
	color: #748690;
	text-decoration: underline;
}

.forgot-password:visited {
	color: #748690;
}

.login-failed {
	margin-top: 20px;
	color: #f05050;
	font-size: 14px;
}

.hidden {
	display: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
	.form-input {
		font-size: 16px;
	}
}
