.media {
	display: flex;
	flex-direction: column;
	width: 100%;
	.mediaContent {
		display: flex;
		flex-direction: row;
		overflow: scroll;
		scrollbar-width: none;
		background-color: var(--pageBackground);
		height: 100%;

		.contentContainer {
			overflow: scroll;
			scrollbar-width: none;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			.footerContent {
				margin-bottom: 15px;
				margin-left: 15px;
				margin-right: 15px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
	}
}

.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--modalBackdropBackgroundColor);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.modalContent {
	background: var(--modalBackgroundColor);
	box-shadow: 0 0 10px var(--modalBackdropBackgroundColor);
	width: 1080px;
	z-index: 101;
}
