.massEditor {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--pageBackground);
	color: var(--textColor);
}
.content {
	padding: 20px;
	overflow-y: scroll;
	scrollbar-width: none;
	height: 80%;
}
.footer {
	display: flex;
	height: 20%;
	background-color: var(--pageFooterBackground);
	.input {
		display: flex;
		flex-direction: row;
		flex: 1;
		margin: 20px;
		.inputContainer {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 25%;
			padding-right: 40px;
			.label {
				color: var(--textColor);
				padding-right: 10px;
				display: flex;
				font-weight: bold;
				font-size: 14px;
				justify-content: center;
				align-items: center;
			}
		}
		.buttonContainer {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.apply {
				width: 100px;
				height: 50px;
				color: var(--textColor);
				background-color: var(--defaultBackgroundColor);
			}
		}
	}
}
