.massEditor {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--pageBackground);
	color: var(--textColor);
}
.content {
	padding: 20px;
	overflow-y: scroll;
	scrollbar-width: none;
	height: 80%;
}
.footer {
	display: flex;
	height: 20%;
	background-color: var(--pageFooterBackground);
	.input {
		display: flex;
		flex-direction: row;
		flex: 1;
		margin: 20px;
		.inputContainer {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 25%;
			padding-right: 40px;
			.label {
				color: var(--textColor);
				padding-right: 10px;
				display: flex;
				font-weight: bold;
				font-size: 14px;
				justify-content: center;
				align-items: center;
			}
		}
		.buttonContainer {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.apply {
				width: 100px;
				height: 50px;
				color: var(--textColor);
				background-color: var(--defaultBackgroundColor);
			}
		}
	}
}

.table {
	color: var(--textColor);
	border-collapse: collapse;
	width: 100%;
	border: none;
	font-size: 14px;
	.row {
		border-top: 1px solid var(--borderColor);
		padding: 15px;
	}
	.row:hover {
		background-color: var(--tableRowHoverBackgroundColor);
	}
	.headRow {
		border: none;
		font-size: 14px;
	}
}

.name {
	color: var(--transfigurrPurple);
	text-decoration: none;
}

.name:hover {
	color: var(--transfigurrAlternativePurple);
	text-decoration: underline;
}

.iconCell {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	margin: 1px;
	fill: var(--textColor);
}

.inputCell {
	width: 14px;
}

.checkbox {
	height: 20px;
	width: 20px;
}

.continue {
	height: 25px;
	width: 25px;
}
.monitored {
	width: 20px;
	height: 20px;
}

.stopped {
	width: 25px;
	height: 25px;
}
