.content {
	display: flex;
	flex-direction: column;
	padding: 20px;
	min-width: 400px;

	.inputContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 10px 0px;
		width: 650px;
		height: 100%;

		.label {
			margin-right: 20px;
			line-height: 35px;
			font-size: 14px;
			font-weight: bold;
			color: #515253;
			width: 40%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
}

.modal {
	.header {
		display: flex;
		flex-direction: row;
		padding: 15px 50px 15px 30px;
		border-bottom: 1px solid #e5e5e5;
		font-size: 18px;
		.left {
			width: 50%;
		}
		.right {
			width: 50%;
			display: flex;
			justify-content: flex-end;
		}
	}
}

.footer {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #e5e5e5;
	padding: 15px 30px;
	.left {
		display: flex;
		flex-direction: row;
		width: 50%;
		.delete {
			padding: 6px 16px;
			font-size: 14px;
			background-color: #f05050;
			border-color: #f04b4b;
			color: white;
			border-radius: 4px;
			cursor: pointer;
		}
	}
	.right {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 50%;

		.cancel {
			padding: 6px 16px;
			font-size: 14px;
			background-color: white;
			border: 1px solid #eaeaea;
			color: black;
			border-radius: 4px;
			cursor: pointer;
		}

		.save {
			padding: 6px 16px;
			font-size: 14px;
			background-color: white;
			border: 1px solid #eaeaea;
			color: black;
			border-radius: 4px;
			margin-left: 10px;
			cursor: pointer;
		}
	}
}

.cross {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 25px;
	cursor: pointer;
	.verticalCross {
		position: absolute;
		transform: rotate(-45deg);
		border-radius: 1px;
		background-color: black;
		height: 15px;
		width: 3px;
	}
	.horizontalCross {
		border-radius: 1px;
		position: absolute;
		background-color: black;
		height: 15px;
		width: 3px;
		transform: rotate(45deg);
	}
}

.settings {
}
