.jumpBar {
	min-width: 30px;
	display: flex;
	flex-direction: column;
	.jump {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 30px;
		width: 30px;
		border-bottom: lightgray solid 1px;
	}
}
