.season {
	background-color: var(--cardBackgroundColor);
	border: 1px solid var(--borderColor);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	line-height: 1.5;
	.seasonHeader {
		display: flex;
		align-items: center;
		color: var(--textColor);
		position: relative;
		cursor: pointer;

		.icon {
			height: 35px;
			width: 35px;
		}

		.left {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 15px 10px;
			width: 45%;
			.seasonNumber {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				font-size: 24px;
			}
			.episodeRatio {
				margin-left: 20px;
			}
			.profileRatio {
				margin-left: 15px;
				font-weight: bold;
				font-size: 14px;
				padding: 0px 5px;
				color: var(--white);
			}
			.size {
				margin-left: 10px;
				color: var(--helpTextColor);
			}
		}
		.center {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			cursor: pointer;
			fill: var(--textColor);
		}
		.right {
			width: 45%;
		}
	}
	.seasonInfo {
		table {
			color: var(--textColor);
			border-collapse: collapse;
			width: 100%;

			tr {
				border-top: 1px solid var(--borderColor);
			}
		}

		th,
		td {
			text-align: left;
			padding: 8px;
			margin: 8px;
		}
		tr {
			padding: 8px;
		}
		.seasonInfoFooter {
			padding: 10px 15px;
			background-color: var(--pageFooterBackground);
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--textColor);
			fill: var(--textColor);
			cursor: pointer;
		}
	}
}
