.season {
	background-color: white;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	.seasonHeader {
		display: flex;
		align-items: center;
		color: #515253;
		.left {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 15px 10px;
			width: 45%;
			.seasonNumber {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				font-size: 24px;
			}
			.episodeRatio {
				margin-left: 20px;
			}
			.profileRatio {
				margin-left: 20px;
			}
			.size {
				margin-left: 20px;
			}
		}
		.center {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 10px;
			width: 10%;
		}
		.right {
			width: 45%;

			.open {
			}
		}
	}
	.seasonInfo {
		table {
			border-collapse: collapse;
			width: 100%;

			tr {
				border-top: 1px solid #e5e5e5;
			}
		}

		th,
		td {
			//border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
			margin: 8px;
		}
		tr {
			padding: 8px;
		}
		.seasonInfoFooter {
			padding: 10px 15px;
			background-color: #fafafa;
			border-top: 1px solid #e5e5e5;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
