.inputContainer {
	display: flex;
	flex-direction: column;
}

.inputLine {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	padding: 10px 0px;
	width: 650px;
	height: 100%;
}

.inputLabel {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 650px;
	flex: 1;
}

.inputColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.inputRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.label {
	margin-right: 20px;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	color: var(--textColor);
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.helpText {
	color: var(--helpTextColor);
	font-size: 14px;
	padding-left: 10px;
}

.warningText {
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	color: #ffa500;
}
