.tableContainer {
	padding: 20px;
	.table {
		color: var(--textColor);
		border-collapse: collapse;
		width: 100%;
		border: none;
		font-size: 14px;
		.row {
			border-top: 1px solid var(--borderColor);
			padding: 15px;
		}
		.row:hover {
			background-color: var(--tableRowHoverBackgroundColor);
		}
		.headRow {
			border: none;
			font-size: 14px;
		}
	}
}

.name {
	color: var(--transfigurrPurple);
	text-decoration: none;
}

.name:hover {
	color: var(--transfigurrAlternativePurple);
	text-decoration: underline;
}

.iconCell {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	margin: 1px;
	fill: var(--textColor);
}
