table {
	color: var(--textColor);
	border-collapse: collapse;
	width: 100%;
	border: none;
	font-size: 14px;

	tbody {
		border: none;
		font-size: 14px;
		tr {
			border-top: 1px solid var(--borderColor);
			padding: 15px;
		}

		tr:hover {
			background-color: var(--tableRowHoverBackgroundColor);
		}
	}
	thead {
		text-align: left;
	}
	td,
	th {
		padding: 8px;
		margin: 8px;
	}
}

.navigation {
	color: var(--textColor);
	fill: var(--textColor);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	font-size: 13px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 100%;
}

.disabled {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	opacity: 0.25;
	cursor: auto;
}

.totalRecords {
	color: var(--textColor);
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
