.queue {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
	background-color: var(--pageBackground);
	.content {
		margin: 20px;
	}
}

.table {
	color: var(--textColor);
	fill: var(--textColor);
	border-collapse: collapse;
	width: 100%;
	border: none;
	font-size: 14px;
	.row {
		fill: var(--textColor);
		color: var(--textColor);
		border-top: 1px solid var(--borderColor);
	}
	.row:hover {
		background-color: var(--tableRowHoverBackgroundColor);
	}
	.headRow {
		border: none;
		font-size: 14px;
	}
	th,
	td {
		text-align: left;
		padding: 8px;
		margin: 8px;
	}
}

.iconCell {
	padding: 0px;
	margin: 0px;
	fill: var(--textColor);
}

.name {
	color: var(--transfigurrPurple);
	text-decoration: none;
}

.name:hover {
	color: var(--transfigurrAlternativePurple);
	text-decoration: underline;
}

.codecRow {
	padding: 0px;
	margin: 0px;
}

.currentContainer {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 100px;
	width: 100%;
}

.current {
	background-color: var(--pageBackground);
	border: 1px solid var(--borderColor);
	border-radius: 4px;
	height: 80px;
	width: 100%;
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.03);
}
