.status {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--pageBackground);
	color: var(--textColor);
	padding: 20px;
	.health {
		display: flex;
		flex-direction: column;
		.header {
			font-size: 21px;
			margin-bottom: 21px;
			width: 100%;
			border-bottom: 1px solid var(--borderColor);
			line-height: inherit;
			padding: 0;
		}
	}
	.diskSpace {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		.header {
			font-size: 21px;
			margin-bottom: 21px;
			width: 100%;
			border-bottom: 1px solid var(--borderColor);
			line-height: inherit;
			padding: 0;
		}
	}
	.about {
		display: flex;
		flex-direction: column;
		.header {
			font-size: 21px;
			margin-bottom: 21px;
			width: 100%;
			border-bottom: 1px solid var(--borderColor);
			line-height: inherit;
			padding: 0;
		}
	}
	.moreInfo {
		display: flex;
		flex-direction: column;
		.header {
			font-size: 21px;
			margin-bottom: 21px;
			width: 100%;
			border-bottom: 1px solid var(--borderColor);
			line-height: inherit;
			padding: 0;
		}
		.row {
			display: flex;
			width: 100%;
			flex-direction: row;
			align-items: center;
			font-size: 14px;
			line-height: 1.5;
		}
		.left {
			display: flex;
			flex-direction: column;
			width: 10%;
			align-items: flex-end;
			padding-right: 20px;
			font-weight: bold;
		}
		.right {
			display: flex;
			flex-direction: column;
			width: 90%;
		}
		a {
			color: var(--transfigurrPurple);
			text-decoration: none;
		}
	}
}

.table {
	color: var(--textColor);
	border-collapse: collapse;
	width: 100%;
	border: none;
	font-size: 14px;

	tbody {
		.row {
			border-top: 1px solid var(--borderColor);
			th,
			td {
				text-align: left;
				padding: 8px;
				margin: 8px;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		.row:hover {
			background-color: var(--tableRowHoverBackgroundColor);
		}
	}
	.headRow {
		border: none;
		font-size: 14px;
	}
}
