.history {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgb(250, 251, 252);
	overflow-y: scroll;
}
.content {
	overflow-y: scroll;
	margin: 20px;
}

.table {
	color: #515253;
	border-collapse: collapse;
	width: 100%;
	border: none;
	font-size: 14px;
	.row {
		border-top: 1px solid #eee;
	}
	.row:hover {
		background-color: white;
	}
	.headRow {
		border: none;
		font-size: 14px;
	}
}

.name {
	color: var(--transfigurrPurple);
	text-decoration: none;
}

.name:hover {
	color: black;
	text-decoration: underline;
}

.iconCell {
	padding: 0px;
	margin: 0px;
}

th,
td {
	text-align: left;
	padding: 8px;
	margin: 8px;
}
tr {
	padding: 8px;
}

.pageInfo {
	height: 100%;
	min-width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navigation {
	color: #515253;
	fill: #515253;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	font-size: 13px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 100%;
}

.disabled {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	opacity: 0.25;
	cursor: auto;
}

.codec {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #4f566f;
	border-radius: 2px;
	color: white;
	font-size: 11px;
	padding: 1px 3px;
	margin: 2px;
	border: 1px solid #4f566f;
	line-height: 1;
	cursor: default;
}

.totalRecords {
	color: #999;
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.codecRow {
	padding: 0px;
	margin: 0px;
}
