.logs {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--pageBackground);
	color: var(--textColor);
}
.content {
	overflow-y: scroll;
	scrollbar-width: none;
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.pageInfo {
	height: 100%;
	min-width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navigation {
	color: var(--textColor);
	fill: var(--textColor);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	font-size: 13px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 100%;
}

.disabled {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	opacity: 0.25;
	cursor: auto;
}

.totalRecords {
	color: var(--textColor);
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
