.settings {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--pageBackground);
	padding: 20px;
	color: var(--textColor);
	.setting {
		display: flex;
		flex-direction: column;
		.header {
			font-size: 21px;
			width: 100%;
			border-bottom: 1px solid var(--borderColor);
			line-height: inherit;
			padding: 0;
			cursor: pointer;
			color: var(--textColor);
			font-weight: bold;
			text-decoration: none;
		}
		.body {
			margin-top: 10px;
			margin-bottom: 30px;
			font-size: 14px;
			color: var(--dimColor);
		}
	}
}
