.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	color: var(--textColor);
	max-width: 1200px;

	.keyContainer {
		display: flex;
		flex-direction: column;
		display: flex;
		flex-direction: column;
		min-width: 350px;
		flex: 0 0 auto;
		.key {
			display: flex;
			flex-direction: row;
			font-size: 12px;
			margin-bottom: 4px;
			line-height: 16px;
			.bubble {
				height: 16px;
				width: 30px;
				border-radius: 4px;
				margin-right: 4px;
				line-height: 16px;
			}
		}
	}
	.dataContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;

		.section {
			display: flex;
			flex-direction: column;
			flex: 1 0 160px;
			.data {
				font-size: 12px;
				margin-bottom: 4px;
				line-height: 16px;
			}
		}
	}
}
