@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinning {
	color: white;
	fill: white;
	animation: spin 2s linear infinite;
}

.loading {
	color: white;
	fill: white;
	animation: spin 2s linear infinite;
}
