.modalOverlay {
	position: absolute;
	background-color: lightblue;
	height: 80%;
	width: 80%;

	.modal {
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
		.header {
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid black;
		}
		.content {
			display: flex;
			flex-direction: row;
			height: 100%;
			.left {
				width: 50%;
			}
			.right {
				width: 50%;
				.codecs {
					.codec {
						display: flex;
						align-items: center;
						flex-direction: row;
						border: 1px solid black;
						border-radius: 4px;

						.notSelected {
							border: 1px solid black;
							height: 15px;
							width: 15px;
						}
						.selected {
							border: 1px solid black;
							height: 15px;
							width: 15px;
							background-color: black;
						}
					}
				}
			}
		}
	}
	.footer {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		border-top: 1px solid black;
		.left {
			width: 50%;
		}
		.right {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			width: 50%;
			.cancel {
				border: 1px solid black;
			}
			.save {
				border: 1px solid black;
			}
		}
	}
}
