.profile {
	flex: 1;
	display: flex;
	max-width: 300px;
	.normal {
		flex: 1;
		background-color: var(--cardBackgroundColor);
		box-shadow: 0 0 10px 1px var(--cardShadowColor);
		box-sizing: border-box;
		border-radius: 3px;
		padding: 10px;
		margin: 10px;
		width: 300px;
		cursor: pointer;

		.header {
			font-size: 24px;
			font-weight: 300;
			margin-bottom: 20px;
			color: var(--textColor);
		}
		.codecs {
			margin-top: 5px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.codec {
				background-color: #4f566f;
				border-radius: 2px;
				color: var(--white);
				font-size: 11px;
				padding: 1px 3px;
				margin: 2px;
				border: 1px solid #4f566f;
				line-height: 1;
				cursor: default;
			}
		}
	}

	.add {
		flex: 1;
		background-color: var(--cardBackgroundColor);
		box-shadow: 0 0 10px 1px var(--cardShadowColor);
		box-sizing: border-box;
		border-radius: 3px;
		padding: 10px;
		margin: 10px;
		width: 300px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		.box {
			padding: 10px 20px;
			border-radius: 4px;
			background-color: var(--cardBackgroundColor);
			color: var(--textColor);
		}
	}
}
