.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: hidden;
	.content {
		display: flex;
		flex-direction: row;
		overflow-y: scroll;
		scrollbar-width: none;
		height: 100%;
		width: 100%;
		.sideBar {
			min-width: 210px;
		}
		.page {
			overflow-y: scroll;
			scrollbar-width: none;
			height: 100%;
		}
	}
}
