body > #root > div {
	height: 100vh;
	overflow: hidden;
	scrollbar-width: none;
}

body {
	margin: 0;
	font-family: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", "Arial",
		sans-serif;
	font-size: 14px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
