.header {
	display: flex;
	min-height: 60px;
	background-color: #3a323b;
	align-items: center;
	z-index: 10;
	.left {
		display: flex;
		flex-direction: row;
		width: 50%;
		.logo {
			height: 55px;
			width: 55px;
			padding-left: 20px;
			cursor: pointer;
		}
		.status {
			margin-left: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: white;
			font-size: 12px;
			width: 60px;
			height: 60px;
			.line {
				display: flex;
				flex-direction: row;
				height: 15px;
				.icon {
					width: 15px;
					height: 15px;
					display: flex;
					align-items: center;
					justify-content: center;
					fill: white;
					padding-right: 5px;
				}
				.text {
					height: 15px;
					display: flex;
					flex: 1;
					align-items: center;
					justify-content: flex-start;
				}
			}
		}
	}
	.right {
		display: flex;
		width: 50%;
		justify-content: flex-end;
		align-items: flex-end;

		.queue {
			display: flex;
			flex-direction: column;
		}
		.profile {
			cursor: pointer;
			padding-right: 15px;
			color: white;
			fill: white;
			svg {
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 30px;
				min-width: 30px;
				fill: white;
			}
		}
		.profile:hover {
			fill: "var(--themePurple)";
			color: "var(--themePurple)";
			svg {
				fill: var(--themePurple);
			}
		}
	}
}

.svg {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 30px;
	min-width: 30px;
}
.text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	height: 20px;
}

.toolBarOption:hover {
	fill: #35c5f4;
}
