.toolBarOption {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 60px;
	fill: white;
	cursor: pointer;
	.svg {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 30px;
		min-width: 30px;
	}
	.text {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 11px;
		height: 20px;
		color: #8895aa;
	}
}
.toolBarOption:hover {
	fill: var(--themePurple);
}

.dropdown {
	height: 600px;
	width: 70px;
}
