.profiles {
	height: 100%;
	background-color: var(--pageBackground);
	color: var(--textColor);
	overflow-y: scroll;
	scrollbar-width: none;
	width: 100%;

	.content {
		display: flex;
		flex-direction: column;
		background-color: var(--pageBackgroundColor);
		padding: 20px;
		overflow: scroll;
		scrollbar-width: none;

		.codecProfiles {
			display: flex;
			flex-direction: column;
			.header {
				font-size: 21px;
				margin-bottom: 21px;
				width: 100%;
				border-bottom: 1px solid var(--borderColor);
				line-height: inherit;
				padding: 0;
			}
			.profileContainer {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: stretch;
			}
		}
	}
}
