.general {
	width: 100%;
	background-color: var(--pageBackground);
	overflow-y: scroll;
	scrollbar-width: none;
	.content {
		display: flex;
		flex: 1;
		flex-direction: column;
		padding: 20px;
	}
}

.inputContainer {
	display: flex;
	flex-direction: column;
}

.inputLine {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	padding: 10px 0px;
	width: 650px;
	height: 100%;
}

.inputLabel {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 650px;
	flex: 1;
}

.inputColumn {
	display: flex;
	flex-direction: column;
}

.label {
	margin-right: 20px;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	color: var(--textColor);
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: var(--textColor);
	font-size: 21px;
	margin-bottom: 21px;
	border-bottom: 1px solid var(--borderColor);
}

.section {
	margin-bottom: 20px;
}

.helpText {
	font-size: 14px;
	color: var(--transfigurrPurple);
}
